@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null; // Tells this view that we don't want to use _Layout from
    // the Shared folder
}

<form method='post'>
    <input type='text' name='name' />
    <input type='submit' value='Greet Me!' />
</form>